.col-md-8 {
    background-color: lightblue;
    height:120px;
}

.col-md-4 {
    background-color: lightblue;
    height:120px;
}

img {
    width: 100px;
    height: auto;
}

h1, h2 {
    font-size: 16px;
}